
/*
 * Controls the side pane where users are displayed.
 */
.side-pane {
    padding-top: 10px;
    height: 100vh;
    width: 18vw;
    float: left;
    text-align: center;
}

/*
 * Controls the appearance and functionality of the pane where the
 * chat messages are dsiplayed as well as where the messages are 
 * entered.
 */

#messages-box {
    outline: solid;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 87.5vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#message-enter {
    resize: none;
    outline: solid;
    padding-top: 5px;
    padding-left: 5px;
    height: 12.5vh;
    width: calc(100% - 18vw);
    overflow: auto;
    text-alignt: left;
}

textarea:focus {
    outline-offset: 0;
}

#settings-area {
    background-color: #e8f2f2/*#5caa77*/;
    height: calc(100% - 87.5vh);
}

#user-list {
    height: 87.5vh;
}

#settings-input {
    width: 75%;
    }
